@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html{
    font-family: 'Open Sans Condensed', sans-serif;
}
.services-nav:hover{
display: contents;
}
.navbar-name{
    padding-left: 50px;
    text-decoration: none;
    color: rgb(178,150,70);
}
.navbar-name:hover{
    color: rgb(178,150,70);
}
.navbar p{
    margin-top: 20px;
    color: rgb(178,150,70);
}
.nav-sign{
    padding-left: 50px;
    color: rgb(178,150,70);
}
.background{
    background-image: url(../img/outdoor.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
}
.nav-item span{
    color: rgb(178,150,70);
    text-decoration: none;
}

.or{
    width: 120px;
    text-align: center;
    margin: 12px auto 24px;
    height: 11px;
    border-bottom: 1px solid;
}
.or span{
    font-size: 16px;
    padding: 0 13px;
}
.facebook{
    width: 320px;
    position: relative;
    background-color: rgb(57,83,157);
}
.goggle{
    width: 320px;
    position: relative;
    background-color: rgb(60,122,252);
}
/* .container{
    width: auto;
    max-width: 800px;
    display: inline-block;
    position:absolute;
} */
.member{
    text-align: center;
    padding-top: 0;
    margin-bottom: 32px;
}
.site-header{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
    margin-top: 10px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
button{
    padding: 0;
}

.new-or {
    width: 70%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .new-or span { 
     background:#fff; 
     padding:0 10px; 
 }